@model pcg.Models.AdminModel
@{
    ViewData["Title"] = "Admin Page";
  
}
<div class="top-card">
    <h1>WELCOME TO YOUR DASHBOARD</h1>
</div>

@* <div class="card-container">
    <div class="info-box bg-success">
        <span class="info-box-icon"><i class="ph ph-check-fat"></i></span>
        <div class="info-box-content">
            <span class="info-box-text">Recent Approved Task</span>
            <span class="info-box-number">410</span>
            <a href="#" class="info-box-link">View Details</a> <!-- Added clickable link -->
        </div>
    </div>

    


</div>
<div class="card-container">
    <div class="info-box bg-success">
        <span class="info-box-icon"><i class="ph ph-check-fat"></i></span>
        <div class="info-box-content">
            <span class="info-box-text">Recent Forwarded Task</span>
            <span class="info-box-number">410</span>
            <a href="#" class="info-box-link">View Details</a> <!-- Added clickable link -->
        </div>
    </div>
</div>
<div class="card-container">
    <div class="info-box bg-success">
        <span class="info-box-icon"><i class="ph ph-check-fat"></i></span>
        <div class="info-box-content">
            <span class="info-box-text">Recent Pending  Task</span>
            <span class="info-box-number">410</span>
            <a href="#" class="info-box-link">View Details</a> <!-- Added clickable link -->
        </div>
    </div>
</div>
 *@

        <div class="dbcard dbshadow">
            <div class="dbcard-content">
                <h2 class="dbcard-title">Recent Forwarded Task</h2>
                <div class="dbtask-info">
                    <p><strong>Task No.:</strong> 1</p>
                    <p><strong>Task:</strong> On-going</p>
                    <p><strong>Remarks:</strong> Sample</p>
                    <p><strong>Description:</strong> Employee 321314</p>
                    <p><strong>Assignee:</strong> Aragon</p>
                    <p><strong>Client/Site:</strong> 3-25-2024</p>
                </div>
            </div>
        </div>
        <div class="dbcard dbshadow">
            <div class="dbcard-content">
                <h2 class="dbcard-title">Recent Forwarded Task</h2>
                <div class="dbtask-info">
                    <p>Task No.: 1</p>
                    <p>Task: On-going</p>
                    <p>Remarks: Sample</p>
                    <p>Description: Employee 321314</p>
                    <p>Assignee: Aragon</p>
                    <p>Client/Site: 3-25-2024</p>
                </div>
            </div>
        </div>
<div class="dbcard dbshadow">
    <div class="dbcard-content">
        <h2 class="dbcard-title">Recent Forwarded Task</h2>
        <div class="dbtask-info">
            <p>Task No.: 1</p>
            <p>Task: On-going</p>
            <p>Remarks: Sample</p>
            <p>Description: Employee 321314</p>
            <p>Assignee: Aragon</p>
            <p>Client/Site: 3-25-2024</p>
        </div>
    </div>
</div>

   






    
       
          
           
        
       
    



